params {
    secondary_reads = 10
    skip_paf = false
    skip_sam = false
    skip_amr = false
    score = 30
    min_read_length = 150
    amr_db = "/share/amrfinderplus/AMR"
    sam2lca_db = null
    ref = null
    ref_sam = null
    amr_db = null
}

profiles {
    standard {
        tower {
            accessToken = '***REMOVED***'
            enabled = true
        }
        conda {
            enabled = true
        }
        process {
            executors = 'slurm'
            errorStrategy = 'ignore'
            // clusterOptions = '-w slurm-node-112cpus-161tb'

            withName: DEHUMAN {
                conda = '/home/ubuntu/miniconda3/envs/mag'
            }

            withName: SAM2LCA {
                conda = '/share1/conda/lca'
            }
        }

        trace {
            enabled = true
            file = 'Meta-minimap2-trace.txt'
        }

        report {
            enabled = true
            file = 'Meta-minimap2-report.html'
        }
    }
}