profiles {
    standard {
        
        process {
            executors = 'slurm'
            errorStrategy = 'ignore'
            clusterOptions = '-w slurm-node-112cpus-161tb'

            withName: DEHUMAN {
                conda = '/home/ubuntu/miniconda3/envs/mag'
            }
        }

        trace {
            enabled = true
            file = 'Meta-minimap2-trace.txt'
        }

        report {
            enabled = true
            file = 'Meta-minimap2-report.html'
        }
    }
}